# Avoid mac files
.DS_Store
# Avoid compress files
*.sip
*.zip
*.rar
*.gz
# Avoid nii images
*.nii
*.nii.gz
# Avoid csvs
*.csv
# Avoid the models stored
model_store/*
tmp/*
*.pth
# Avoid compiled environment
poetry.lock
*.pyc